body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, midnightblue, black);
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    background: linear-gradient(-45deg, darkslateblue, black, darkslateblue);
    padding: 60px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
img{
    width: 40px;
    margin-left: 10px;
}
h1 {
    color: darkslateblue;
}

input {
    padding: 8px;
    width: 200px;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    margin-right: 5px;
}

button {
    background: darkslateblue;
    color: cyan;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;

}

button:hover {
    background: darkslategray;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: black;
    color: darkslateblue;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: maroon;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}